# Posttest 4 KB
# FILIPUS ADRIEL MANIK
# 2109106096
## LINK DATASET => "https://drive.google.com/file/d/1-cNTyuAW2680uRxNs9b9RG6818pYemnO/view?usp=sharing"

## Import Liblary yang akan di pakai untuk posttest kali ini

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.impute import SimpleImputer

## Membaca dataset yang ada

In [3]:
df = pd.read_csv("kickstarter_projects.csv")
df

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State
0,1860890148,Grace Jones Does Not Give A F$#% T-Shirt (limi...,Fashion,Fashion,United States,2009-04-21 21:02:48,2009-05-31,1000,625,30,Failed
1,709707365,CRYSTAL ANTLERS UNTITLED MOVIE,Film & Video,Shorts,United States,2009-04-23 00:07:53,2009-07-20,80000,22,3,Failed
2,1703704063,drawing for dollars,Art,Illustration,United States,2009-04-24 21:52:03,2009-05-03,20,35,3,Successful
3,727286,Offline Wikipedia iPhone app,Technology,Software,United States,2009-04-25 17:36:21,2009-07-14,99,145,25,Successful
4,1622952265,Pantshirts,Fashion,Fashion,United States,2009-04-27 14:10:39,2009-05-26,1900,387,10,Failed
...,...,...,...,...,...,...,...,...,...,...,...
374848,1486845240,Americas Got Talent - Serious MAK,Music,Hip-Hop,United States,2018-01-02 14:13:09,2018-01-16,500,0,0,Live
374849,974738310,EVO Planner: The World's First Personalized Fl...,Design,Product Design,United States,2018-01-02 14:15:38,2018-02-09,15000,269,8,Live
374850,2106246194,"Help save La Gattara, Arizona's first Cat Cafe!",Food,Food,United States,2018-01-02 14:17:46,2018-01-16,10000,165,3,Live
374851,1830173355,Digital Dagger Coin,Art,Art,United States,2018-01-02 14:38:17,2018-02-01,650,7,1,Live
374852,1339173863,Spirits of the Forest,Games,Tabletop Games,Spain,2018-01-02 15:02:31,2018-01-26,24274,4483,82,Live

## Membagi dataset menjadi training set dan testing set dengan proporsi 70:30 menggunakan train_size, dan test_size

In [4]:
x = df.iloc[:, :-1] # feature
y = df.iloc[:, -1] # target
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, train_size=0.7)

## Print jumlah row dan kolom dari x train, x test, y train, y test

In [5]:
print('Ini x train => ', x_train.shape)
print('Ini x test  => ', x_test.shape)
print('Ini y train => ', y_train.shape)
print('Ini y test  => ', y_test.shape)

Ini x train =>  (262397, 10)
Ini x test  =>  (112456, 10)
Ini y train =>  (262397,)
Ini y test  =>  (112456,)

## Menampilkan isi dari X train

In [6]:
x_train

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers
166616,206597355,Soul Much More from Scratch II,Food,Cookbooks,United States,2014-08-25 19:24:02,2014-09-24,500,193,8
62032,1086752527,We The People Create a Self Sustaining Garden,Food,Food,United States,2012-07-17 22:10:02,2012-08-16,2000,137,7
35002,1633242685,You Will Not Be Forgotten,Publishing,Nonfiction,United States,2011-11-19 14:25:33,2011-12-19,7500,7500,60
73573,1850281668,The Mighty Green Vaqueros,Film & Video,Documentary,United States,2012-10-31 01:51:08,2012-11-30,1000,1796,36
69785,1628098418,"Art Exhibition ""East and West: The Hammered Me...",Art,Art,United States,2012-09-25 05:21:14,2012-10-25,3000,7696,98
...,...,...,...,...,...,...,...,...,...,...
331094,327628757,Reflexbox 2.0 : Innovative Multimedial Wireles...,Technology,Gadgets,Italy,2017-03-01 11:50:15,2017-03-29,5345,31006,418
335489,581451577,Angels Of Our Past,Film & Video,Film & Video,United Kingdom,2017-03-28 10:46:24,2017-04-27,15527,16220,96
246752,1373315335,Its More Than Just Music,Music,Hip-Hop,United States,2015-09-10 03:57:47,2015-11-07,3000,3599,80
50900,1370687836,Essex Street Academy Theatre Arts,Theater,Theater,United States,2012-04-20 00:25:18,2012-04-30,500,635,15
58599,263537779,Jiggy Project (Canceled),Games,Video Games,United States,2012-06-20 03:30:28,2012-07-20,900,0,0

## Menampilkan isi dari y train

In [7]:
y_train

166616        Failed
62032         Failed
35002     Successful
73573     Successful
69785     Successful
             ...
331094    Successful
335489    Successful
246752    Successful
50900     Successful
58599       Canceled
Name: State, Length: 262397, dtype: object

## Menampilkan isi dari X test

In [8]:
x_test

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers
291763,2093025654,The Foldable Fitted Sheet,Design,Product Design,United States,2016-05-31 19:04:57,2016-06-30,22500,2255,20
137326,137563694,Just Another Sheep- A Graphic Novel,Comics,Comic Books,United States,2014-04-09 19:20:19,2014-05-09,5000,5949,147
140330,1085584922,"[debut]'s new EP, ""Postcards from Berlin"" feat...",Music,Electronic Music,United States,2014-05-01 03:09:30,2014-05-31,7500,10030,78
137887,549110617,Augmented Reality / 3D Designed to Create Memo...,Games,Games,United States,2014-04-14 18:14:49,2014-06-13,15000,2,2
138567,908071509,Transform a wood shack @Elephant into a bar & ...,Food,Food,United Kingdom,2014-04-18 09:30:14,2014-05-09,37098,4985,63
...,...,...,...,...,...,...,...,...,...,...
362131,1369353784,"Choosing Happy- Facts, Hacks, and Action Steps...",Publishing,Nonfiction,Australia,2017-09-27 01:59:43,2017-10-27,6715,1123,50
369691,1810553416,Luna - A Pen To Illuminate The Night,Design,Product Design,United States,2017-11-15 00:17:26,2017-12-14,200,1340,25
265464,1077775631,Trend iT - A phone based research study medium,Technology,Apps,United States,2015-12-26 07:03:47,2016-01-25,50000,40,2
11410,2069428275,Kill the Reflection - Raise $2000 for studio time,Music,Indie Rock,United States,2010-12-18 03:04:09,2011-01-17,2000,1,1
93455,1126853553,I Am Alone the Movie,Film & Video,Narrative Film,United States,2013-04-29 05:46:19,2013-05-29,25000,27390,173

## Menampilkan isi dari y test

In [9]:
y_test

291763        Failed
137326    Successful
140330    Successful
137887      Canceled
138567        Failed
             ...
362131        Failed
369691    Successful
265464        Failed
11410         Failed
93455     Successful
Name: State, Length: 112456, dtype: object

## normalisasi data pada salah satu attribute menggunakan Min Max scaler

In [11]:
dataset =  df.copy()
Scaler = MinMaxScaler()
Normalized_Data = Scaler.fit_transform(dataset[['Backers']])
dataset['Backers'] = Normalized_Data

In [12]:
print("sebelum dinormalisasi: ")
print(df['Backers'].describe())
print('\n')
print("setelah dinormalisasi: ")
print(dataset['Backers'].describe())

sebelum dinormalisasi:
count    374853.000000
mean        106.690359
std         911.718520
min           0.000000
25%           2.000000
50%          12.000000
75%          57.000000
max      219382.000000
Name: Backers, dtype: float64


setelah dinormalisasi:
count    374853.000000
mean          0.000486
std           0.004156
min           0.000000
25%           0.000009
50%           0.000055
75%           0.000260
max           1.000000
Name: Backers, dtype: float64

## Standarisasi

In [13]:
dataset1 =  df.copy()
Scaler = StandardScaler()
Scaled_Data = Scaler.fit_transform(dataset[['Backers']])
dataset['Backers'] = Scaled_Data

## Menampilkan hasil dari standar deviasi sebelum di standarisasi, dan setelah di standarisasi

In [14]:
print("sebelum dinormalisasi : ")
print("Nilai Standar deviasi >> ", np.std(df['Backers']))
print('\n')
print("setelah distandarisasi : ")
print("Nilai Standar deviasi >> ", np.std(dataset1['Backers']))

sebelum dinormalisasi :
Nilai Standar deviasi >>  911.717304149336


setelah distandarisasi :
Nilai Standar deviasi >>  911.717304149336

# Data cleaning

### 1.  Mengubah tipe data goal dari Object menjadi Float 64
### 2.  Membuat kolom Goal, Pledged, dan Country menjadi Null menggunakan np.nan
### 3.  Menampilkan banyak nya nilai null pada kolom Goal, Pledged, dan Country menggunakan :
###     ("dataset['Kolom'].isna().sum()")

In [15]:
dataset2 = df.copy()
dataset2['Goal'] = dataset2['Pledged'].astype('int64')
print("\nJumlah nilai null pada Setiap kolom sebelum cleaning : ")
dataset2.isna().sum()

Jumlah nilai null pada Setiap kolom sebelum cleaning :

ID             0
Name           0
Category       0
Subcategory    0
Country        0
Launched       0
Deadline       0
Goal           0
Pledged        0
Backers        0
State          0
dtype: int64

## Mengatasi nilai null pada kolom Backers yang bertipe bilangan bulat (integer)

### Metode Median

In [16]:
dataset2.loc[200000:, 'Backers'] = np.nan

print("Jumlah Nilai Null pada kolom  Backers sebelum >>", dataset2['Backers'].isna().sum())

dataset2['Backers'].fillna(dataset2['Backers'].median(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Backers Setelah >>", dataset2['Backers'].isna().sum())

Jumlah Nilai Null pada kolom  Backers sebelum >> 174853

Jumlah Nilai Null pada kolom  Backers Setelah >> 0

### Metode Modus

In [17]:
dataset2.loc[200000:, 'Backers'] = np.nan

print("Jumlah Nilai Null pada kolom  Backers sebelum >>", dataset2['Backers'].isna().sum())

dataset2['Backers'].fillna(dataset2['Backers'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom  Backers setelah >>", dataset2['Backers'].isna().sum())

Jumlah Nilai Null pada kolom  Backers sebelum >> 174853

Jumlah Nilai Null pada kolom  Backers setelah >> 0

### Metode Mean

In [18]:
dataset2.loc[200000:, 'Backers'] = np.nan

print("Jumlah Nilai Null pada kolom  Backers sebelum >>", dataset2['Backers'].isna().sum())

dataset2['Backers'].fillna(dataset2['Backers'].mean(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Backers setelah >>", dataset2['Backers'].isna().sum())

Jumlah Nilai Null pada kolom  Backers sebelum >> 174853

Jumlah Nilai Null pada kolom  Backers setelah >> 0

## Mengatasi nilai null pada kolom Goal yang bertipe bilangan desimal (float)

### Metode Median

In [19]:
dataset2.loc[200000:, 'Goal'] = np.nan

print("Jumlah Nilai Null pada kolom  Goal sebelum >>", dataset2['Goal'].isna().sum())

dataset2['Goal'].fillna(dataset2['Goal'].median(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Goal Setelah >>", dataset2['Goal'].isna().sum())

Jumlah Nilai Null pada kolom  Goal sebelum >> 174853

Jumlah Nilai Null pada kolom  Goal Setelah >> 0

### Metode Modus

In [20]:
dataset2.loc[200000:, 'Goal'] = np.nan

print("Jumlah Nilai Null pada kolom  Goal sebelum >>", dataset2['Goal'].isna().sum())

dataset2['Goal'].fillna(dataset2['Goal'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom  Goal setelah >>", dataset2['Goal'].isna().sum())

Jumlah Nilai Null pada kolom  Goal sebelum >> 174853

Jumlah Nilai Null pada kolom  Goal setelah >> 0

### Metode Mean

In [21]:
dataset2.loc[200000:, 'Goal'] = np.nan

print("Jumlah Nilai Null pada kolom  Goal sebelum >>", dataset2['Goal'].isna().sum())

dataset2['Goal'].fillna(dataset2['Goal'].mean(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Goal setelah >>", dataset2['Goal'].isna().sum())

Jumlah Nilai Null pada kolom  Goal sebelum >> 174853

Jumlah Nilai Null pada kolom  Goal setelah >> 0

## Mengatasi nilai null pada kolom Country yang bertipe Tulisan (String/Object)

### Metode Modus

dataset2.loc[200000:, 'Country'] = np.nan

print("Jumlah Nilai Null pada kolom  Country sebelum >>", dataset2['Country'].isna().sum())

dataset2['Country'].fillna(dataset2['Country'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom  Country setelah >>", dataset2['Country'].isna().sum())

### Menampilkan jumlah nilai null setelah cleaning

In [23]:
print("\nJumlah nilai null pada Setiap kolom setelah cleaning : ")
dataset2.isna().sum()

Jumlah nilai null pada Setiap kolom setelah cleaning :

ID             0
Name           0
Category       0
Subcategory    0
Country        0
Launched       0
Deadline       0
Goal           0
Pledged        0
Backers        0
State          0
dtype: int64

## Membuat nilai duplikasi pada dataset dan menjumlahkan banyaknya data duplicat pada Data set

In [24]:
dataset2.iloc[1000, :] = dataset2.iloc[1001, :]
dataset2.iloc[2000, :] = dataset2.iloc[2001, :]
dataset2.iloc[3000, :] = dataset2.iloc[3001, :]
dataset2.iloc[4000, :] = dataset2.iloc[4001, :]
dataset2.duplicated().sum()

4

## Mengatasi nilai Duplicate dengan menggunakan => ("drop_duplicate"), dan menghitung ulang banyaknya jumlah data duplikasi di dalam dataset

In [25]:
dataset2.drop_duplicates(inplace=True)
dataset2.duplicated().sum()

0

## Mengganti tipe data pada slah satu attribute angka

### Merubah tipe data kolom Backers dari float64 => int64

### menampilkan tipe data kolom Backers sebelum dirubah

In [29]:
print("Tipe data kolom 'Backers' sebelum dirubah => ", dataset2['Backers'].dtypes )

Tipe data kolom 'Pledged' sebelum dirubah =>  float64

### 1. merubah tipe data Kolom Bckers dari float 64 => int 64 menggunakan metode astype
### 2. menampilkan tipe data kolom Backers setelah dirubah

In [30]:
dataset2['Backers'] = dataset2['Backers'].astype('int64')
print("Tipe data kolom 'Backers' setelah dirubah => ", dataset2['Backers'].dtypes )

Tipe data kolom 'Backers' setelah dirubah =>  int64

### Menampilkan seluruh tipe data kolom dari dataset untuk mengecek apakah tipe data kolom yang dirubah tadi benar2 berubah

In [32]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374849 entries, 0 to 374852
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ID           374849 non-null  int64
 1   Name         374849 non-null  object
 2   Category     374849 non-null  object
 3   Subcategory  374849 non-null  object
 4   Country      374849 non-null  object
 5   Launched     374849 non-null  object
 6   Deadline     374849 non-null  object
 7   Goal         374849 non-null  float64
 8   Pledged      374849 non-null  int64
 9   Backers      374849 non-null  int64
 10  State        374849 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 34.3+ MB

# Encoding

## encoding data dri kolom Country, dan merubah tipe datanya menjadi 1nt64 supaya bisa menghasilkan angka, kemudian menggunakan drop untuk melihat keseluruhan isi dari kolom yang nilainya lebih dari 2

In [36]:
encoding = pd.get_dummies(df[['Country']])
dataset5 = df.join(encoding.astype('int64'))

dataset5.drop('Country', axis=1, inplace=True)

## Menampilkan per row dari jumlah kolom yang di encoding tadi

In [38]:
dataset5

,ID,Name,Category,Subcategory,Launched,Deadline,Goal,Pledged,Backers,State,...,Country_Mexico,Country_Netherlands,Country_New Zealand,Country_Norway,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_United Kingdom,Country_United States
0,1860890148,Grace Jones Does Not Give A F$#% T-Shirt (limi...,Fashion,Fashion,2009-04-21 21:02:48,2009-05-31,1000,625,30,Failed,...,0,0,0,0,0,0,0,0,0,1
1,709707365,CRYSTAL ANTLERS UNTITLED MOVIE,Film & Video,Shorts,2009-04-23 00:07:53,2009-07-20,80000,22,3,Failed,...,0,0,0,0,0,0,0,0,0,1
2,1703704063,drawing for dollars,Art,Illustration,2009-04-24 21:52:03,2009-05-03,20,35,3,Successful,...,0,0,0,0,0,0,0,0,0,1
3,727286,Offline Wikipedia iPhone app,Technology,Software,2009-04-25 17:36:21,2009-07-14,99,145,25,Successful,...,0,0,0,0,0,0,0,0,0,1
4,1622952265,Pantshirts,Fashion,Fashion,2009-04-27 14:10:39,2009-05-26,1900,387,10,Failed,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374848,1486845240,Americas Got Talent - Serious MAK,Music,Hip-Hop,2018-01-02 14:13:09,2018-01-16,500,0,0,Live,...,0,0,0,0,0,0,0,0,0,1
374849,974738310,EVO Planner: The World's First Personalized Fl...,Design,Product Design,2018-01-02 14:15:38,2018-02-09,15000,269,8,Live,...,0,0,0,0,0,0,0,0,0,1
374850,2106246194,"Help save La Gattara, Arizona's first Cat Cafe!",Food,Food,2018-01-02 14:17:46,2018-01-16,10000,165,3,Live,...,0,0,0,0,0,0,0,0,0,1
374851,1830173355,Digital Dagger Coin,Art,Art,2018-01-02 14:38:17,2018-02-01,650,7,1,Live,...,0,0,0,0,0,0,0,0,0,1
374852,1339173863,Spirits of the Forest,Games,Tabletop Games,2018-01-02 15:02:31,2018-01-26,24274,4483,82,Live,...,0,0,0,0,0,1,0,0,0,0